.git/*
env/
venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace


staticfiles/*
static/*
media/uploads/*


db.sqlite3
.venv
.env


tests/
management\

api/services.py
